.faq-header
  margin-bottom 40px

  & > .title
    color #626F74
    font-size 26px
    margin-bottom 5px





.faq-content
  margin-bottom 40px

  & > .title
    padding 5px 0 5px 20px
    margin-bottom 5px
    border-bottom 1px solid #E9ECED
    & > .updated
      color #879094
      font-size font-x-small
      font-weight 100
      float right
      position relative
      top -1px

  & > .summary
    padding 5px 20px
    font-size font-small

  & > .link
    color #5E9ADD
    border-bottom 1px solid #5E9ADD
    font-size font-small
    margin-left 20px
