/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.navbar-header
  background #2D3235
  overflow hidden

.header-nav
  height 70px
  padding 0px 20px


.header-nav > .-logo
  float left
  & > .link
    margin-top 5px
    padding 15px 0
    display block
    transition opacity 0.1s ease 0s
    &:hover
      opacity .8


.header-nav > .-list
    @extend .nav
    float right
    padding-top 16px

    & > .item
      font-size 14px
      color #fff
      margin-left 32px

    & > .link
      border-bottom: 3px solid transparent
      padding 15px 0 23px
      transition color, border, 0.1s ease 0s
      &:hover
        color #619BDB
        border-color: #619BDB

    & > .btn
      padding 14px 10px 9px 20px
      border 1px solid #619BDB
      background transparent
      color #619BDB
      margin-top -3px
      transition color, background, 0.1s ease 0s
      letter-spacing -0.02em
      &:hover
        background #619BDB
        color #fff
