/*------------------------------------*\
    $INDEX
\*------------------------------------*/
.content
  padding 60px 20px 0

.page-container
  & > .title
    font-size 32px
    color #626F74
    padding 10px 20px
    margin-bottom 40px
    border-bottom 2px solid #626F74

  & > .description
    color #626F74
    padding 0 20px
    margin-bottom 30px
