/*------------------------------------*\
    $INDEX
\*------------------------------------*/
.content
  padding 60px 20px 0

.page-container
  margin-bottom 48px

  & > .title
    font-size 32px
    color #626F74
    padding 17px 20px
    border-bottom 2px solid #626F74

  & > .description
    color #626F74
    padding 48px 0 17px 20px
    margin-bottom 30px

  & > .updated
    float right
    position relative
    top 25px
    color #879094
    font-size font-x-small

  & > .edit
    float right
    color #5E9ADD
    position relative
    top 10px
    font-size font-x-small
    &:hover
      text-decoration underline
