# OS X
.DS_Store                         # Thumbnails

# IDE
.idea/                            # JetBrains
.settings/                        # Visual Studio Code

# Node
node_modules
npm-debug.log

public
static/css/
static/img/
