/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/





/*------------------------------------*\
    #BRAND
\*------------------------------------*/
brand-round = 3px
brand-color = #71a6f6




/*------------------------------------*\
    #FONTS
\*------------------------------------*/
font-medium   = 14px
font-small    = 13px
font-x-small  = 12px




/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
animation-duration        = .2s
animation-timing-function = linear





/*------------------------------------*\
    #CODE
\*------------------------------------*/
code-color      = #99cc99
code-background = #2d2d2d





/*------------------------------------*\
    #COLOR
\*------------------------------------*/
/**
 * Nomal Colors
 */
grey       = #EFF1F2
red        = #e94d32
blue       = #538EC2
indigo     = #34404c
white      = #f5f5f5


/**
 * Anchor
 */
color-link                     = #0086b3
color-link-hover               = #006080
color-link-background          = #fff
