typography-color-grey  = #626F74
typography-color-black = #2E2E2E
typography-size  = 16px

/**
 * Paragraph
 */
.typography > p
  font-size 16px
  line-height 2em
  margin-bottom 1.43999rem
  padding-top 0.56001rem
  color typography-color-black


/**
 * List
 */
.typography > ul
  margin-bottom 1.37631rem
  padding-top 0.62369rem
  font-size 16px
  line-height 2em


/**
 * Code
 */
.typography > pre
  display block
  margin-bottom 2em
  padding 1em
  white-space pre-wrap
  word-break break-all
  word-wrap break-word
  background #F6F9FD
  & > code
    font-size 0.82105rem


/**
 * H1 ~ h6
 */
.typography > h1,
.typography > h2,
.typography > h3,
.typography > h4,
.typography > h5,
.typography > h6
  color typography-color-grey


/**
 * H1
 */
.typography > h1
  font-size 2.63158rem
  margin-bottom 0.46052rem
  padding-top 0.53948rem


/**
 * H2
 */
.typography > h2
  font-size 2.31053rem
  margin-bottom 0.34333rem
  padding-top 0.34333rem
  border-bottom 1px solid #E9ECED
  text-shadow 0.1rem 0 #fff, 0.15rem 0 #fff, -0.1rem 0 #fff, -0.15rem 0 #fff

