.typeset
  line-height 1.5

.typeset p,
.typeset table,
.typeset h1,
.typeset h2,
.typeset h3,
.typeset h4,
.typeset h5,
.typeset h6,
.typeset ul,
.typeset ol
  margin-bottom 17px


/**
 * Table
 */
.typeset table
  width 100%
  overflow auto
  word-break normal
  margin-bottom 1.43999rem
  padding-top 0.56001rem

.typeset table thead tr
  border-bottom 2px solid #879094
  font-size font-x-small

.typeset table thead tr th
  text-align left
  padding 0px 17px 12px
  color #879094
  font-size 11px

.typeset table tbody tr
  border-bottom 1px solid #E9ECED

.typeset table thead tr th,
.typeset table tbody tr td
  padding 10px 20px


/**
 * H1
 */
.typeset h1,
.typeset h2
  font-size 22px

.typeset h1,
.typeset h2,
.typeset h3,
.typeset h4
  color #626f74
  font-weight 500



/**
 * H2
 */
.typeset h2
  margin-top (17*4)px

.typeset h2 ~ h3
  margin-top (17*3)px

.typeset h2 + h3
  margin-top 0 !important


/**
 * H3
 */
.typeset h3
  border-bottom 1px solid #e9eced
  padding 40px 0 12px 17px
  color #879094
  font-size 16px

.typeset h3 ~ p
.typeset h3 ~ h4
  padding-left 20px

.typeset h3 ~ pre
  margin 0 0 17px 20px

.typeset h3 ~ ul,
.typeset h3 ~ ol
  padding-left 40px

.typeset h3 ~ table
  width calc(100%  - 20px)
  margin-left 20px

/**
 * List
 */
.typeset ul,
.typeset ol
  padding-left 20px

.typeset ul li,
.typeset ol li
  line-height 17px
  margin-bottom 17px


/**
 * Link
 */
.typeset p a,
.typeset ul a,
.typeset ol a
  color #619bdb
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten(#619bdb,20%) 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow 0.1rem 0 #fff,0.15rem 0 #fff,-0.1rem 0 #fff,-0.15rem 0 #fff


/**
 * Code
 */
// .typeset pre
//   background-color #F6F9FD
  // padding 16px
  // overflow auto
  // font-size 85%
  // line-height 1.45
  // border-radius 3px
  // word-wrap normal
//
// .typeset pre > code
//   display inline
//   max-width initial
//   padding 0
//   margin 0
//   overflow initial
//   line-height inherit
//   word-wrap normal
//   background-color transparent
//   border 0
//   font-size 100%
//   word-break normal
//   white-space pre
//
//
// .typeset pre > code:before,
// .typeset pre > code:after
//   content: normal
