/*------------------------------------*\
    $OUTLINE
\*------------------------------------*/
/*!*
 * このスタイルは Hugo が出力する目次の
 * HTMLのみに対応しています。
 */
#TableOfContents a
  display inline-block
  margin-bottom 20px

/**
 * H1
 */
#TableOfContents > ul > li > a
  color #5E9ADD

/**
 * H2
 */
#TableOfContents > ul > li > ul a
  color #626f74
  font-size 13px
  line-height:1.5
  transition opacity 0.1s ease 0s
  &:hover
    opacity .7


#TableOfContents > ul > li > ul
  padding-left 20px

#TableOfContents > ul > li > ul > li > ul
  padding-left 20px

#TableOfContents .spy-nav > .active > a
  color: #5e9add
  font-weight: 700

#TableOfContents .spy-nav ul.spy-nav
  display: none

#TableOfContents .spy-nav > .active > ul.spy-nav
  display: block

