/*------------------------------------*\
    $INDEX-CARD
\*------------------------------------*/
.index-card
  margin-bottom 80px

  & > .sdk,
  & > .help
    @extend .card
    @extend .card.-large
    cursor pointer
    display inline-block
    text-align left
    width 428px
    margin 0 20px
    border-color #619BDB
    transition opacity 0.1s ease 0s
    &:hover
      opacity .8

  & > .sdk  > .img,
  & > .help > .img
    float left
    text-align center

  & > .sdk  > .title,
  & > .help > .title
    color #619BDB
    font-size 22px
    font-weight 300
    margin-bottom 10px

  & > .sdk  > .description,
  & > .help > .description
    font-size font-small
    line-height 1.4
    color #626F74

  & > .sdk  > .title,
  & > .sdk  > .description
    margin-left 120px

  & > .help > .title,
  & > .help > .description
    margin-left 85px

