/*------------------------------------*\
    $SDK-CARD
\*------------------------------------*/





/**
 * Card Wrapper
 */
.sdk-cards
  padding 0 20px

  & > .sdk-card
    @extend .card
    display inline-block
    text-align left
    width 290px
    margin 20px
    padding 0
    border-color #C5CDD3


/**
 * Each card
 */
.sdk-cards > .sdk-card
  & > .card-meta
    padding 24px 34px 0

  & > .card-btn
    padding 24px 34px

  & > .card-links
    border-top 1px solid #C5CDD3
    background #F6F9FD
    padding 10px



/**
 * Card meta
 */
.sdk-cards > .sdk-card > .card-meta
  @extend .cf
  & > .image
    float left

  & > .platform
    color #626F74
    font-weight 700
    font-size 20px
    border-bottom 1px solid #C5CDD3
    margin-left 100px
    padding-bottom 5px
    margin-bottom 5px

  & > .sdk-version
      @extend .cf
      margin-left 100px
      & > .version,
      & > .value
        font-weight 100
        color #A8B5BA

      & > .version
        float left

      & > .value
        float right


/**
 * Card Download Button
 */
.card-btn > .btn
  width 100%
  text-align center
  color #5E9ADD
  border-color #5E9ADD
  padding 5px 0
  font-size 14px
  font-weight 900
  letter-spacing .05em
  &:hover
    background #5E9ADD
    color #fff


/**
 * Card Links
 */
.sdk-cards > .sdk-card > .card-links
  & > .api,
  & > .guide,
  & > .release
    display inline-block
    text-align center
    color #879094
    font-size font-x-small
    line-height font-x-small
    transition opacity 0.1s ease 0s
    &:hover
      opacity .7

  & > .api
    width 103px
    padding-right 10px
    border-right 1px solid #C5CDD3

  & > .guide
    width 63px
    border-right 1px solid #C5CDD3
    padding 0 10px

  & > .release
    width 94px
    padding-left 10px
