.search {
  float: right;
  padding: 0 18px;
  position: relative;
  top: 20px;
}

.search input[type="text"] {
  background: #fff;
  box-shadow: none;
  border-radius: 2px;
  width: 200px;
  padding: 0 10px;
}

/* Main category headers */
.algolia-docsearch-suggestion--category-header {
  background-color: ##2d3235 !important; 
}

.header-nav .aa-dropdown-menu { left: -400px !important }
