<header class="navbar-header" role="banner">
  <div class="container">
    <nav class="header-nav">
      <h1 class="logo">
        <a class="link"href="https://growthbeat.com/">
          <img src="{{ .Site.BaseURL }}img/lp_growthbeat_logo_big.png" alt="Growthbeat logo">
        </a>
      </h1>
        
      <div style="float: right; padding: 0 18px;">
        <input id="algolia-search" type="text" style="
            background: #fff;
            box-shadow: none;
            border-radius: 2px;
            width: 200px;
            position: relative;
            top: 20px;
            padding: 0 10px;" placeholder="Search docs...">
      </div>
      <div class="inquiry">
        <a class="link" href="https://growthbeat.com/inquiry">お問い合わせ</a>
      </div>
      <div class="login">
        <a class="link" href="https://growthbeat.com/">Growthbeat</a>
      </div>
    </nav>
  </div>
</header>
