<header class="navbar-header" role="banner">
  <div class="container">
    <nav class="header-nav">
      <h1 class="header-logo -logo">
        <a class="item link"href="https://growthbeat.com/">
          <img src="./img/h_logo_growthbeat.png" alt="Growthbeat logo">
        </a>
      </h1>
      <div class="header-list -list">
        <a class="item link"  href="https://growthbeat.com/about">
          Growthbeat<span class="word">について</span>
        </a>
        <a class="item link" href="https://growthbeat.com/features">ツール紹介</a>
        <a class="item link" href="https://growthbeat.com/login">ログイン</a>
        <a class="item btn" href="https://growthbeat.com/register" role="button">会員登録（無料）</a>
      </div>
    </nav>
  </div>
</header>
