<header class="navbar-header" role="banner">
  <div class="container">
    <nav class="header-nav">
      <h1 class="logo">
        <a class="link"href="https://growthbeat.com/">
          <img src="{{ .Site.BaseURL }}img/lp_growthbeat_logo_big.png" alt="Growthbeat logo">
        </a>
      </h1>

      <div class="sighup">
        <a class="btn" role="button" href="https://growthbeat.com/register">会員登録（無料）</a>
      </div>
      <div class="login">
        <a class="link" href="https://growthbeat.com/login">ログイン</a>
      </div>
      <div class="feature">
        <a class="link" href="https://growthbeat.com/features">ツール紹介</a>
      </div>
      <div class="about">
        <a class="link"  href="https://growthbeat.com/about">Growthbeatについて</a>
      </div>
    </nav>
  </div>
</header>
