<head>
  <meta charset="utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=1040px, user-scalable=yes">

  {{ if eq .URL "/" }}
  <!-- Index -->
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Site.BaseURL }}">
  {{ else if eq .URL "/post/" }}
  <!-- Post -->
  <meta property="og:title" content="All Entries | {{ .Site.Title }}">
  <meta property="og:url" content="{{ .Site.BaseURL }}">
  {{ else if in .URL "/tags/" }}
  <!-- Category -->
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:url" content="{{ .Site.BaseURL }}">
  {{ else }}
  <!-- Article -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:description" content="{{ .Description }}">
  {{ end }}
  <meta property="article:author" content="{{ .Site.Params.Meta.Article.Author }}" />
  <meta property="fb:app_id" content="{{ .Site.Params.Meta.Fb.AppId }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}">

  <title>
      {{ if eq .URL "/" }}
        {{ .Site.Title }}
      {{ else if eq .URL "/post/" }}
        All Entries | {{ .Site.Title }}
      {{ else if in .URL "/tags/" }}
        Tags | {{ .Site.Title }}
      {{ else }}
        {{ .Title }} | {{ .Site.Title }}
      {{ end }}
  </title>

  <!-- Icons -->
  <link rel="shortcut icon" href="/favicon.ico">

  <script>
    /*!
    loadCSS: load a CSS file asynchronously.
    [c]2014 @scottjehl, Filament Group, Inc.
    Licensed MIT
    */
    function loadCSS( href, before, media ){
        "use strict";
        var ss = window.document.createElement( "link" );
        var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
        var sheets = window.document.styleSheets;
        ss.rel = "stylesheet";
        ss.href = href;
        ss.media = "only x";
        ref.parentNode.insertBefore( ss, ref );
        function toggleMedia(){
            var defined;
            for( var i = 0; i < sheets.length; i++ ){
                if( sheets[ i ].href && sheets[ i ].href.indexOf( href ) > -1 ){
                    defined = true;
                }
            }
            if( defined ){
                ss.media = media || "all";
            }
            else {
                setTimeout( toggleMedia );
            }
        }
        toggleMedia();
        return ss;
    }
  </script>
  <script>loadCSS( "{{ .Site.BaseURL }}css/main.css" );</script>
  <noscript><link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css"></noscript>
</head>
