<div class="container">

<section class="page-container">
  <h2 class="title">サポートページ</h2>
  <p class="description">このページでは導入するためのファイルの準備や実装手順の把握、疑問点の解消など <span class="nowrap">Growthbeat</span> に関する有益な情報を揃えています。初めてご利用になられる方から上級ユーザーまでどなたでもご利用できます。</p>

　 <div class="card-wrapper">
     <a class="sdk" href="{{ .Site.BaseURL }}/ja/sdk/">
        <img class="img" src="{{ .Site.BaseURL }}/img/index-sdk-icon.png" alt="SDKドキュメント">
        <h3 class="title">SDKドキュメント</h3>
        <p class="description">
            SDK 導入に必要なファイルや導入のためのドキュメントを豊富に揃えています
        </p>
     </a>
     <a class="help">
        <img class="img" src="{{ .Site.BaseURL }}/img/index-help-icon.png" alt="ヘルプページ">
        <h3 class="title">ヘルプページ</h3>
        <p class="description">
            SDK に関してお問い合わせ頂いた様々な質問を回答と共に公開しています
        </p>
     </a>
  </div>
</section>

</div>
