/*------------------------------------*\
    #FONT
\*------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

body
  font-size 1em
  line-height 2em
  font-family 'Lato', sans-serif,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','HiraKakuPro-W3'
