<!DOCTYPE html>
<html lang="{{ .Site.Params.locale }}">
{{ partial "head.html" . }}
<body>
<!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header -->
{{ partial "header.html" . }}
<section class="navbar-subheader">
  <div class="container">
    <ul class="breadcrumb">
      <li class="item"><a class="link" href="{{ .Site.BaseURL }}">サポートページ</a></li>
      <li class="item"><a class="link">ヘルプページ</a></li>
    </ul>
  </div>
</section>

<!-- Container -->
<div class="content">
<div class="container">

<section class="page">
<span class="updated">最終更新日 {{ .Date.Format .Site.Params.DateForm }}</span>
<h2 class="title">ヘルプページ</h2>
</section>

<section class="row">
  <div class="column column-sidebar">
    <ul>
    {{ range .Data.Pages }}
      <li>{{ .Title }}</li>
    {{ end }}
    </ul>
  </div>
  <div class="column column-main">

    <div class="faq-header">
      <h2 class="title">新しい質問</h2>
      <p class="description">このページではグロースハックツールプラットフォーム「Growthbeat」に関する新しい質問の回答一覧を見ることができます。</p>
    </div>

    {{ range .Data.Pages }}
      <div class="faq-content">
      　<h3 class="title">{{ .Title }}<span class="updated">更新日：{{ .Date.Format .Site.Params.DateForm }}</span></h3>
        <div class="summary">{{ .Summary }}</div>
        {{ if .Truncated }}
        <a class="link" href="{{ .RelPermalink }}">詳細へ</a>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>

</div><!-- container -->
</div><!-- content -->


<!-- Footer -->
{{ partial "footer.html" . }}
</body>
</html>
