<!DOCTYPE html>
<html lang="{{ .Site.Params.locale }}">
{{ partial "head.html" . }}
<body>
<!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper">

<!-- Header -->
{{ partial "header.html" . }}
<section class="navbar-subheader">
  <div class="container">
    <ul class="breadcrumb">
      <li class="item"><a class="link" href="{{ .Site.BaseURL }}">サポートページ</a></li>
      <li class="item"><a class="link">管理画面操作方法</a></li>
    </ul>
  </div>
</section>

<!-- Container -->
<div class="content">
<div class="container">

<section class="page">
<h2 class="title">管理画面操作方法</h2>
</section>

<section class="manual-card card-container">
  {{ range .Data.Pages.ByPublishDate }}
      {{ if in .Permalink "manual/growthbeat" }}
        <a class="service" href="{{ .Permalink }}">
        <img class="img" src="{{ .Site.BaseURL }}img/icon_svg/icon_growthbeat.svg" alt="Growthbeat">
        <h3 class="title">{{ .Title }}</h3>
      {{ end }}
      {{ if in .Permalink "growthpush" }}
        <a class="service" href="{{ .Permalink }}">
        <img class="img" src="{{ .Site.BaseURL }}img/icon_svg/icon_growthpush.svg" alt="Growth Push">
        <h3 class="title">{{ .Title }}</h3>
      {{ end }}
      {{ if in .Permalink "growthmessage" }}
        <a class="service" href="{{ .Permalink }}">
        <img class="img" src="{{ .Site.BaseURL }}img/icon_svg/icon_growthmessage.svg" alt="Growth Message">
        <h3 class="title">{{ .Title }}</h3>
      {{ end }}
    </a>
  {{ end }}
</section>

</div><!-- container -->
</div><!-- content -->

<!-- Footer -->
{{ partial "footer.html" . }}

</div><!-- /wrapper -->
{{ partial "common.html" . }}
</body>
</html>
