<!DOCTYPE html>
<html lang="{{ .Site.Params.locale }}">
{{ partial "head.html" . }}
<body>
<!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header -->
{{ partial "header.html" . }}

<!-- Header -->
<div class="content">
  <div class="container">

<section class="page-container">
  <h2 class="title">
    <span class="nowrap">SDK</span>
    ドキュメント
  </h2>
</section>

<section class="sdk-cards card-container">
  <div class="ios sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-ios-icon.png" alt="">
      <h3 class="platform">iOS</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">X.X.X</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="">APIリファレンス</a>
      <a class="link guide" href="">ガイド</a>
      <a class="link release" href="">リリースノート</a>
    </div>
  </div>
  <div class="android sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-android-icon.png" alt="">
      <h3 class="platform">Android</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">X.X.X</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="">APIリファレンス</a>
      <a class="link guide" href="">ガイド</a>
      <a class="link release" href="">リリースノート</a>
    </div>
  </div>
  <div class="unity sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-unity-icon.png" alt="">
      <h3 class="platform">Unity</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">X.X.X</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="">APIリファレンス</a>
      <a class="link guide" href="">ガイド</a>
      <a class="link release" href="">リリースノート</a>
    </div>
  </div>
  <div class="api sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-api-icon.png" alt="">
      <h3 class="platform">API</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">X.X.X</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="">APIリファレンス</a>
      <a class="link guide" href="">ガイド</a>
      <a class="link release" href="">リリースノート</a>
    </div>
  </div>
  <div class="cocos sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-cocos2dx-icon.png" alt="">
      <h3 class="platform">Cocos2d-x</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">X.X.X</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="">APIリファレンス</a>
      <a class="link guide" href="">ガイド</a>
      <a class="link release" href="">リリースノート</a>
    </div>
  </div>

  <div class="web sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-websdk-icon.png" alt="">
      <h3 class="platform">Web SDK</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">X.X.X</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="">APIリファレンス</a>
      <a class="link guide" href="">ガイド</a>
      <a class="link release" href="">リリースノート</a>
    </div>
  </div>
</section>



  </div><!-- container -->
</div><!-- content -->

<!-- Footer -->
{{ partial "footer.html" . }}
</body>
</html>
