<!DOCTYPE html>
<html lang="{{ .Site.Params.locale }}">
{{ partial "head.html" . }}
<body>
<!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper">

<!-- Header -->
{{ partial "header.html" . }}
<section class="navbar-subheader">
  <div class="container">
    <ul class="breadcrumb">
      <li class="item"><a class="link" href="{{ .Site.BaseURL }}">サポートページ</a></li>
      <li class="item"><a class="link">SDKドキュメント</a></li>
    </ul>
  </div>
</section>


<!-- Container -->
<div class="content">
  <div class="container">

<section class="page">
  <h2 class="title">
    <span class="nowrap">SDK</span>ドキュメント
  </h2>
</section>

<section class="sdk-cards card-container">
  <div class="ios sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-ios-icon.png" alt="">
      <h3 class="platform">iOS</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">v1.2.3</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="https://github.com/SIROK/growthbeat-ios/archive/latest.zip">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="{{ .Permalink }}ios/tutorial/">チュートリアル</a>
      <a class="link guide" href="{{ .Permalink }}ios/guide/">ガイド</a>
      <a class="link release" href="{{ .Permalink }}ios/release/">リリースノート</a>
    </div>
  </div>
  <div class="android sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-android-icon.png" alt="">
      <h3 class="platform">Android</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">v1.2.3</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="https://github.com/SIROK/growthbeat-android/archive/latest.zip">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="{{ .Permalink }}android/tutorial/">チュートリアル</a>
      <a class="link guide" href="{{ .Permalink }}android/guide/">ガイド</a>
      <a class="link release" href="{{ .Permalink }}android/release/">リリースノート</a>
    </div>
  </div>
  <div class="unity sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-unity-icon.png" alt="">
      <h3 class="platform">Unity</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">v1.0.1</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="https://github.com/SIROK/growthbeat-unity/archive/latest.zip">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="{{ .Permalink }}unity/tutorial/">チュートリアル</a>
      <a class="link guide" href="{{ .Permalink }}unity/guide/">ガイド</a>
      <a class="link release" href="{{ .Permalink }}unity/release/">リリースノート</a>
    </div>
  </div>
  <div class="cocos sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-cocos2dx-icon.png" alt="">
      <h3 class="platform">Cocos2d-x</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">v1.2.3</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="https://github.com/SIROK/growthbeat-cocos2dx/archive/latest.zip">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="{{ .Permalink }}cocos2dx/tutorial/">チュートリアル</a>
      <a class="link guide" href="{{ .Permalink }}cocos2dx/guide/">ガイド</a>
      <a class="link release" href="{{ .Permalink }}cocos2dx/release/">リリースノート</a>
    </div>
  </div>

  <div class="web sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-websdk-icon.png" alt="">
      <h3 class="platform">Web SDK</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">v0.1.1</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn" role="button" href="https://github.com/SIROK/growthbeat-javascript/archive/latest.zip">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="{{ .Permalink }}web/tutorial/">チュートリアル</a>
      <a class="link guide" href="{{ .Permalink }}web/guide/">ガイド</a>
      <a class="link release" href="{{ .Permalink }}web/release/">リリースノート</a>
    </div>
  </div>

  <div class="api sdk-card">
    <div class="card-meta">
      <img class="image" src="{{ .Site.BaseURL }}/img/sdk-api-icon.png" alt="">
      <h3 class="platform">API</h3>
      <div class="sdk-version">
          <span class="version">version</span>
          <span class="value">v1.0.0</span>
      </div>
    </div>
    <div class="card-btn">
      <a class="btn disabled" role="button">Download</a>
    </div>
    <div class="card-links">
      <a class="link api" href="{{ .Permalink }}api/tutorial/">チュートリアル</a>
      <a class="link guide" href="{{ .Permalink }}api/guide/">ガイド</a>
      <a class="link release" href="{{ .Permalink }}api/release/">リリースノート</a>
    </div>
  </div>
</section>

<section class="page">
<p class="description">
各 SDK は <span class="nowrap">GitHub</span> 上で開発・公開されています。とても簡単にアプリに導入することができます。SDK を変更しご使用いただくことは可能となっておりますが、公開されている SDK のソース以外の変更を行われた場合のアプリの不具合や動作については保証し兼ねますのでご了承ください。<span class="nowrap">Growthbeat</span> は現在 iOS、Andorid、Unity に対応しております。Cocos2DXへの対応は予定しておりますので別途ご相談ください。ひとつの SDK で <span class="nowrap">Growthbeat</span> すべてのサービスがご利用になれます。（<span class="nowrap">Growth Link</span>のご利用には、別途 SDK の導入が必要です）
</p>
</section>



  </div><!-- container -->
</div><!-- content -->

<!-- Footer -->
{{ partial "footer.html" . }}

</div><!-- /wrapper -->
</body>
</html>
